body {
	font-family: Times New Roman;
	color: rgb(224, 104, 60);
	text-shadow: 1px 1px 2px black;
	background-color: gray;/*устанавливаем цвет фона*/
	background-image: url(fon.jpg);/*устанавливаем в качестве фона картинку (располагается в папке с таблицей css)*/
	background-size: 100% 100%;/*устанавливаем размер картинки, по длинне - на 100% экрана, по ширине - автоматически*/
	background-repeat: no-repeat;/*установка повторения картинки по горизонтали и вертикали. Тут - картинка не повторяется*/
	background-attachment: fixed;/*прокручивается картинка или нет. Тут - не прокручивается*/
	}
	/*так можно писать в CSS коментарии*/

header {
	display: flex;
	flex-direction: column;
	text-align: center;
	}
	
main {text-align: justify;}/*выравнивание шрифта по ширине*/
	
footer {text-align: left;}

footer a {
	background-color: rgba(255, 228, 196, .3);
	}
		
h1 {font-family: Monotype Corsiva;
	font-size: 32pt;
	font-weight: 900;
	color: gainsboro;
	text-shadow: 3px 3px 5px black;/*тень у текста 0 - смещение по оси х, 5px - смещение по оси у, 10рх - радиус размытия*, black - цвет тени*/
	/*font-weight: normal;*//*задает для заголовка нормальную жирность текста*/
	margin: 0;
	}
	
a {
	color:rgb(90, 30, 8);
	text-decoration: none;
	}/*цвет гиперссылки*/

a:visited {color:rgb(90, 30, 8);}/*цвет посещенной гиперссылки*/

a:hover {
	color: brown;
}
		
p {font-size: 14pt;}/*если мы после размера шрифта допишем "!important", весь текст в абзаце,
	вне зависимости от того, что мы прописываем далее, будет высотой 14 кегля*/
		
.picture {text-align: center;}
	
.picture img {width: 67%;}/*это составной селектор, .picture - расположен слева, указывает на
	элемент со стелевым классом picture, селектор img указывает на изображение, находится справа.
	Пробел - есть разделитель между селекторами*//*атрибут стиля width задает ширину элемента страницы,
	т.е. изображение суши будет занимать 67% страницы*/
p.picture1 {text-align: center;}
	
p.greeting {font-size: 24pt;
	text-align: center;}
	
span.h21 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20pt;
	text-align: center;
	text-shadow: 3px 3px 5px black;
}

p.h31 {
	color: LightCyan;
	font-size: 14pt;
	text-shadow: 3px 3px 5px black;
}

.adres1 {
	color: LightCyan;
	font-size: 14pt;
	text-shadow: 3px 3px 5px black;
	box-shadow: 0 0 5px black;
}
	
.advertising {margin-left: 30pt;} /*задает отступ слева в кеглях*/
	
.advertising1 {font-size: 12pt; /*задает размер шрифта в кеглях*/
	margin-top: 5pt;
	margin-bottom: 5 pt;}

.advertising2 {font-size: 12pt;
	margin-top: 5pt;
	margin-bottom: 5 pt;}
	
.bigger {font-size: 16pt;}
	
.bigger1 {font-size: 14pt;}
	
table.pricelist th, table.pricelist td {
		border: grey thin solid;
		padding: 4px;
	}/*создали стиль для таблицы: два составных селектора table.pricelist th (ячейки шапки, вложенные в таблицу со стилевым классом pricelist)
	и table.pricelist td (обычные ячейки, вложенные в такую же таблицу) указанные через запятую. Атрибут стиля border создает рамку, рисуемую по границе
	элемента страницы - ячейки. Его значение grey указывает создать серую thin - тонкую рамку из solid - сплошных линий*/

.catalog {
	background-color: rgba(255, 228, 196, .3);
	}

table.catalog td {
		border: rgba(0, 0, 0, .3) thin solid; /*создали пунктирную черную линию, отделяющую строки в таблице*/
		padding: 10px;
	}
table.catalog img {width: 336px;} /*задали ширину рисунков, встроенных в таблицу в 336 пикселей*/
	
table.pricelist thead th {
		color: white;
		background-color: grey;
	}

.giper {
	margin-top: 40px;
	background-color: rgba(255, 228, 196, .3);
	}
	
tfoot {
		font-style: italic;
		text-align: right;
	}
			
.menu {
	display: flex;
	padding: 0 8%;
	border: black medium double;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
	background-color: rgba(255, 228, 196, .3);
	/*background-color: gray;*//*добавляет заливку элементу, после двоеточия указывается цвет*/
	/*opacity: .9;*//*добавляет прозрачности элементу, от 0 (полностью прозрачный) до 1 (не прозрачный)*/
	justify-content: space-between;
	}

@media screen and (max-width: 650px) {
	.menu {
		display: inline-flex;
		flex-direction: column;
		padding: 0;
		margin-top: 30px;
	}
	.giper {
		display: inline-flex;
		padding: 0;
	}
}

.menu div {
	position: relative;
	float:left;
	padding: 5px;

	list-style: none;
	font-size: 16pt;
	transition: .3s;
	}
	
.menu div:hover {
	transform: scale(1.2);
	}

.alien_head1 {
	width: 150px;
	height: 175px;
	border: 2px solid rgba(0, 0, 0, 1);
	border-bottom: none;
	border-radius: 80px 80px 90px 90px;
	background-color: grey;
	position: relative;
	left: 44%;
}
.alien_head2 {
	width: 100px;
	height: 200px;
	border-radius: 80px/100px;
	border-bottom: 2px solid black;
	background-color: grey;
	position: relative;
	left: 17%;
}
.alien_left_eye {
	width: 65px;
	height: 55px;
	border-radius: 100% 20%;
	background: linear-gradient(140deg,black 55%, white);
	position: absolute;
	top: 25%;
	left: 55%;
	border:5px solid grey;
}
.alien_right_eye {
	width: 65px;
	height: 55px;
	border-radius: 20% 100%;
	background: linear-gradient(220deg,black 55%, white);
	position: absolute;
	top: 25%;
	right: 58%;
	border:5px solid grey;
}
.alien_right_nose {
	width: 10px;
	height: 20px;
	border-radius: 100% 20%;
	background-color: black;
	position: absolute;
	left: 37%;
	bottom: 30%;
	transform: rotate(175deg);
	box-shadow: 0 0 5px black;
}
.alien_left_nose {
	width: 10px;
	height: 20px;
	border-radius: 20% 100%;
	background-color: black;
	position: absolute;
	right: 37%;
	bottom: 30%;
	transform: rotate(185deg);
	box-shadow: 0 0 5px black;
}
.alien_mouth {
	width: 35px;
	height: 5px;
	border-radius: 80px/100px;
	background-color: black;
	position: absolute;
	left: 31%;
	bottom: 10%;
}
.alien_smile {
	width: 40px;
	height: 30px;
	border-radius: 15px;
	border-bottom: 5px solid black;
	background-color: gray;
	position: absolute;
	left: 29%;
	bottom: 10%;
	display: none;
}
.alien:hover .alien_head1 .alien_head2 .alien_smile {
	display: block;
}
.alien:hover .alien_head1 .alien_head2 .alien_mouth {
	display: none;
}

@keyframes Morganie {
	from {transform: scale(1);}
	49% {transform: scaleY(1);}
	50% {transform: scaleY(0.1);}
	51% {transform: scale(1);}
	to {transform: scaleY(1);}
}

.alien_left_eye, .alien_right_eye {
	animation: Morganie 8s infinite;
}
